.login-box{
    display: flex;
}


.login-btn{
    margin: 50% 0 50% 15%;
    background-color:rgb(155, 245, 240);
    width: 500px;
}

.register-box{
    padding-right: 20px;
}

.nickname-input{
    border-color: antiquewhite;
    border-radius: 50px;
}