.content-box{
    padding-left: 20px;
    padding-right: 25px;
}

.item-detail{
    padding-top: 15px;
    padding-bottom: 15px;
}

.item-img{
    width: 200px;
    height: 200px;
}

.item-title{
    font-weight: bold;
    font-size: 34px;
}

.item-desc{
    font-size: 28px;
}

.item-sales{
    font-size: 28px;
}


.out-box{
    padding-left: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
