.main-box {
    max-height: 100%;
}

.content-box {
    padding-left: 20px;
    padding-right: 25px;
}

.item-detail {
    padding-top: 15px;
    padding-bottom: 50px;
}

.item-img {
    width: 200px;
    height: 200px;
}

.item-title {
    font-weight: bold;
    font-size: 34px;
}

.item-desc {
    font-size: 28px;
}

.item-sales {
    font-size: 28px;
}


.out-box {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.img-cart {
    height: 75px;
    width: 80px;
    padding-left: 50px;
}


.cart-botton {
    border-radius: 60px;
    margin-right: 50px;
    height: 75px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    padding: 0 30px;
    line-height: 75px;
}


.cart-items {
    z-index: 1010;
    max-height: 100%;
}

.cart-items .at-float-layout__container {
    //    max-height: 65%;
    border-radius: 30px;
}


.box-1 {
    max-height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 300px;
}

.box-bottom {
    position: fixed;
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
}

.bottom-menu {
    z-index: 1026;
    position: relative !important;
}

.cart-bar {
    z-index: 1026;
    padding: 10px 0;
    background-color: aliceblue;
    border-color: antiquewhite;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
}


.badge {
    top: 0px !important;
    right: 0px !important;
    position: absolute;
    color: white;
    background-color: red;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: xx-small;
    border-radius: 18px;
}

.cart-bar .l {
    position: relative;
    height: 39px;
    text-align: center;
}

.cart-box-content {
    height: 140px;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.item-box-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shopping-cart-title {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 50px;
    position: fixed;
    border-bottom: 1px solid rgb(239, 239, 239);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    letter-spacing: 4px;
    background-color: #fff;
}

.shopping-cart-list {
    padding-top: 40px;
    max-height: 70%;
    overflow: scroll;
}


.item-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.cart-img {
    height: 120px;
    width: 120px;
    padding-right: 30px;
}

.text-center {
    text-align: center;
}

.at-modal__content {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    font-size: medium;
    letter-spacing: 5px;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    -webkit-transition: visibility 200ms ease-in;
    -o-transition: visibility 200ms ease-in;
    transition: visibility 200ms ease-in;
    z-index: 1000;
}

.modal--active {
    visibility: visible;
}

.modal__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 540px;
    border-radius: 12px;
    background-color: #FFF;
    overflow: hidden;
}

.modal__content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    justify-content: center;
    font-size: medium;
    letter-spacing: 5px;
    padding: 32px 24px;
    min-height: 180px;
    max-height: 840px;
    color: #333;
    font-size: 32px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
}

.modal__footer {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.modal__footer>button {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-flex: auto;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    margin-top: 0;
    min-width: 160px;
    letter-spacing: 4px;
    height: 88px;
    color: #333;
    font-size: 30px;
    line-height: 86px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

.tab-nav{
    overflow: scroll;
    flex: 1;
    overflow: hidden;
    padding-bottom: 230px;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    background-color: rgb(245, 245, 245);
}


.tab-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.tab-nav .tab-nav-item--active {
    background-color: #fff;
    font-weight: bold;
    font-size: 32px;
}


.menu-box {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.scroll-out-box-nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    width: 30%;
}


.scroll-out-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}


.menu-list {
    padding-top: 15px;
    padding-bottom: 230px;
    overflow: scroll;
    flex: 1;
    overflow: hidden;
}


.menu-anc {
    font-weight: bold;
    color: rgb(58, 97, 180);
    letter-spacing: 5px;
}